################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application/bin/Debug/net6.0/Application.dll
/Application/bin/Release/net6.0/Domain.pdb
/Application/bin/Release/net6.0/Domain.dll
/Application/bin/Release/net6.0/Application.pdb
/Application/bin/Release/net6.0/Application.dll
/Application/bin/Release/net6.0/Application.deps.json
/Application/bin/Debug/net6.0/Domain.pdb
/Application/bin/Debug/net6.0/Domain.dll
/Application/bin/Debug/net6.0/Application.pdb
/Application/obj/Debug/net6.0/Application.pdb
/Application/obj/Debug/net6.0/Application.GeneratedMSBuildEditorConfig.editorconfig
/Application/obj/Debug/net6.0/Application.dll
/Application/obj/Debug/net6.0/Application.csproj.FileListAbsolute.txt
/Application/obj/Debug/net6.0/Application.csproj.CoreCompileInputs.cache
/Application/obj/Debug/net6.0/Application.csproj.AssemblyReference.cache
/Application/obj/Debug/net6.0/Application.assets.cache
/Application/obj/Release/net6.0
/BA-API/.vs/BA-API/config/applicationhost.config
/BA-API/.vs/BA-API/FileContentIndex
/Domain/bin/Release/net6.0
/Domain/obj/Release/net6.0
/Infrastructure/bin/Release/net6.0
/BA-API/obj/Release/net6.0
/WebApi/bin/Release/net6.0
/WebApi/obj/Release/net6.0
/WebApi/Properties/PublishProfiles
Application/obj/Debug/net6.0/Application.pdb
